<ion-header>
  <ion-navbar color="yayasan">
  <ion-title>{{campaign.category}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="closeModal()"><ion-icon name="ios-close-circle-outline"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
<div >
    <ion-row>  
        <div>
        	<img src="{{image}}" >
        </div>  
    </ion-row>
    <ion-row>
      <ion-col col-4 *ngFor="let im of moreImg" item-wrap no-padding style="padding-right: 3px">
        	<img src="{{im.image}}" (click)="imageTapped(im.image)">
      </ion-col>
    </ion-row>

<ion-card-content>
  <!-- <h6 style="padding-bottom: 5px">{{kempen.category_id}}</h6> -->
  <p style="margin-top: 15px">{{campaign.category}}</p>
  <h1 text-wrap style="padding-bottom: 10px; margin: 0">{{campaign.campaign_name}}</h1>
  	

	<div text-wrap style="padding-bottom: 10px">
    <p>{{campaign.short_desc}}</p>	
	</div>

        <div class="process">
          <div class="raised">
            <span [ngStyle]="{'width':progressbar}"></span>
          </div>
        </div>

  <div class="details">
    <p><strong>RM{{campaign.fund_amount}}</strong> terkumpul setakat ini</p>
    <p><strong>{{percentage}}%</strong> tepati sasaran</p>
    <p><strong>{{remainingDays}}</strong> lagi</p>
  </div>
</ion-card-content>
  
    <ion-list>
      <ion-item (click)="details(kempen)">
        Maklumat 
        <ion-badge color="yayasan" item-end></ion-badge>
      </ion-item>
      <ion-item (click)="commentsTapped(kempen)" >
        Komen 
        <ion-badge color="yayasan" item-end *ngIf="commentBadge">{{commentBadge}}</ion-badge>
      </ion-item>
      <ion-item (click)="newsTapped(kempen)" >
        Terkini 
        <ion-badge color="yayasan" item-end *ngIf="newsBadge">{{newsBadge}}</ion-badge>
      </ion-item>
      <!-- <ion-item (click)="newsTapped(kempen)" *ngIf="newsBadge">
        News 
        <ion-badge color="yayasan" item-end></ion-badge>
      </ion-item> -->
    </ion-list>

  <div style="padding: 10px">
    <ion-row>
      <ion-col col-6>
        <button ion-button block color="yayasan" (click)="donate(kempen)">Derma</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block color="yayasan" (click)="sebar()">Sebar</button>
      </ion-col>
    </ion-row>
  </div>

 </div>
</ion-content>
