<ion-header>
  <ion-navbar>
  <ion-title>{{campaign.category}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="sebar()"><ion-icon name="md-share"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
<div>
    <ion-row>  
        <div>
        	<img src="{{image}}" >
        </div>  
    </ion-row>
    <!-- <ion-row>
      <ion-col col-4 *ngFor="let im of moreImg" item-wrap no-padding style="padding-right: 3px">
        	<img src="{{im.image}}" (click)="imageTapped(im.image)">
      </ion-col>
    </ion-row> -->

<ion-card-content>
  <ion-row>
      <ion-col col-1 style="font-size: 20px;" no-padding text-center>
        <ion-icon name="ios-pin-outline"></ion-icon>
      </ion-col>
      <ion-col col-7 style="padding-left: 0px">
            {{campaign.location}}
      </ion-col>
      <ion-col col-2 text-right no-padding>
        <ion-icon name="ios-chatbubbles-outline"></ion-icon>
        <strong>{{commentBadge}}</strong>
      </ion-col>
      <!-- <ion-col col-1.5 style="padding-left: 0px">
        <strong>{{commentBadge}}</strong>
      </ion-col> -->
      <ion-col col-2 text-right no-padding>
        <ion-icon name="ios-heart-outline"></ion-icon>
        <strong>{{like}}</strong>
      </ion-col>
      <!-- <ion-col col-1.5 style="padding-left: 0px">
        <strong>{{like}}</strong>
      </ion-col> -->
  </ion-row>

  <!-- <p style="margin-top: 15px">{{campaign.category}}</p> -->
  <h1 text-wrap style="margin-top: 10px; font-weight: bold;">{{campaign.campaign_name}}</h1>
  	
        <div class="process">
          <div class="raised">
            <span [ngStyle]="{'width':progressbar}"></span>
          </div>
        </div>

   <div class="details">
    <p><strong>RM {{campaign.fund_amount | number:0}}</strong> terkumpul setakat ini</p>
    <p><strong>{{percentage}}%</strong> tepati sasaran</p>
    <p><strong>{{remainingDays}}</strong> lagi</p>
  </div>

  <hr>
       
	<div text-wrap style="padding-bottom: 10px; padding-top: 10px">
    <p>{{campaign.short_desc}}</p>	
	</div>

      

  
</ion-card-content>
  
    <ion-list>
      <ion-item (click)="details(kempen)">
        <strong>Maklumat lebih lanjut</strong>
        <ion-icon name="arrow-forward" item-end></ion-icon>
      </ion-item>
      <ion-item (click)="newsTapped(kempen)" >
        <strong>Terkini</strong> 
        <ion-badge style="background-color: #5CBFB9" item-end *ngIf="newsBadge">{{newsBadge}}</ion-badge>
      </ion-item>
      <ion-item (click)="commentsTapped(kempen)" >
        <strong>Baca dan beri komen</strong> 
        <ion-badge style="background-color: #5CBFB9" item-end *ngIf="commentBadge">{{commentBadge}}</ion-badge>
      </ion-item>
    </ion-list>

  

 </div>
</ion-content>
<ion-footer class="center-div" (click)="donate(kempen)">
  <ion-fab right top style="top: -25px">
    <button ion-fab color="yayasan"><ion-icon name="ios-heart-outline"></ion-icon></button>
  </ion-fab>
  <p style="color: white; font-weight: bold;">KLIK UNTUK HULUR SUMBANGAN</p>
</ion-footer>
