<ion-header no-border>
  <ion-navbar color="navbar">
  <ion-title>{{campaign.category}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="sebar()"><ion-icon name="md-share"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
<div>
    <ion-row>  
        <div>
        	<img src="{{image}}" >
        </div>  
    </ion-row>
    <!-- <ion-row>
      <ion-col col-4 *ngFor="let im of moreImg" item-wrap no-padding style="padding-right: 3px">
        	<img src="{{im.image}}" (click)="imageTapped(im.image)">
      </ion-col>
    </ion-row> -->

<ion-card-content>
  <ion-row>
      <ion-col col-1 style="font-size: 20px;" no-padding text-center>
        <ion-icon name="ios-pin-outline"></ion-icon>
      </ion-col>
      <ion-col col-7 style="padding-left: 0px">
            <strong>{{campaign.location}}</strong>
      </ion-col>
      <ion-col col-2 text-right no-padding>
        <ion-icon name="ios-chatboxes-outline"></ion-icon>
        <strong>{{commentBadge}}</strong>
      </ion-col>
      <ion-col col-2 text-right no-padding>
        <ion-icon name="ios-heart-outline"></ion-icon>
        <strong>{{like}}</strong>
      </ion-col>
  </ion-row>

  <h1 text-wrap style="margin-top: 10px; font-weight: bold;">{{campaign.campaign_name}}</h1>
  	
        <div class="process">
          <div class="raised">
            <span [ngStyle]="{'width':progressbar}"></span>
          </div>
        </div>

   <div class="details">
    <p><strong>RM {{campaign.fund_amount | number:0}}</strong> terkumpul setakat ini</p>
    <p><strong>{{percentage}}%</strong> tepati sasaran</p>
    <p><strong>{{totalDay}}</strong> lagi</p>
  </div>

  <hr>
       
	<div text-wrap style="padding-bottom: 10px; padding-top: 10px">
    <p>{{campaign.short_desc}}</p>	
	</div>

      

  
</ion-card-content>
  
    <ion-list>
      <ion-item (click)="details(kempen)">
        <p><strong style="color: black">Maklumat lebih lanjut</strong></p>
        <ion-icon name="arrow-forward" item-end></ion-icon>
      </ion-item>
      <ion-item (click)="newsTapped(kempen)" >
        <p><strong style="color: black">Terkini</strong></p>
        <ion-badge style="background-color: #CB9B18" item-end *ngIf="newsBadge">{{newsBadge}}</ion-badge>
      </ion-item>
      <ion-item (click)="commentsTapped(kempen)" >
        <p><strong style="color: black">Baca dan beri komen</strong></p>
        <ion-badge style="background-color: #CB9B18" item-end *ngIf="commentBadge">{{commentBadge}}</ion-badge>
      </ion-item>
    </ion-list>

      <!-- <ion-fab right bottom style="margin-bottom: 45px; position: fixed;">
        <button ion-fab color="emas" (click)="toggleIcon()">
          <ion-icon [name]="buttonIcon"></ion-icon>
        </button>
      </ion-fab> -->
  

 </div>
</ion-content>
<ion-footer class="center-div" >
  <ion-fab right top style="top: -25px" (click)="toggleIcon()">
    <button ion-fab color="emas" >
      <ion-icon [name]="buttonIcon"></ion-icon>
    </button>
  </ion-fab>
  <p style="color: white; font-weight: bold;" (click)="donate(kempen)">KLIK UNTUK HULUR SUMBANGAN</p>
</ion-footer>
