<!--
  Generated template for the UserDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
 <ion-navbar color="navbar">
  <ion-title>{{profile.name}}</ion-title>
   <ion-buttons end>
          <button ion-button icon-only (click)="editProfile(profile)">
            <ion-icon name="settings" style="font-weight: bold;"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

<!-- <div text-center padding (click)="userDetails(profile)">  
  <img src="{{profile.image}}" class="user"> 
  <h2>{{profile.first_name}} {{profile.last_name}}</h2>
  <p>{{profile.email}}</p>
</div> -->
<!-- 
	<ion-card>
		<img src="{{profile.image}}">
	</ion-card> -->
	<div class="bg" >
  		<img *ngIf="!profile.image" src="{{image}}" class="user">
		<img *ngIf="profile.image" src="{{profile.image}}" class="user">
	</div>


	<div padding style="padding-left: 0px">
		<ion-list style="margin-top: 35px" >
		  <ion-item>
		    <ion-icon name="ios-person-outline" item-start></ion-icon>
		    	{{profile.name}}
		  </ion-item>

		  <ion-item>
		    <ion-icon name="ios-mail-outline" item-start></ion-icon>
		     {{profile.email}}
		  </ion-item>

		  <ion-item>
		    <ion-icon name="ios-home-outline" item-start></ion-icon>
		      {{profile.address}}
		  </ion-item>

		  <ion-item>
		    <ion-icon name="ios-call-outline" item-start></ion-icon>
		      {{profile.phone_number}}
		  </ion-item>

		  <ion-item>
		    <ion-icon name="ios-calendar-outline" item-start></ion-icon>
		      {{profile.birthdate | date:'dd/MM/yyyy'}}
		  </ion-item>

		  <ion-item>
		    <ion-icon name="ios-male-outline" item-start></ion-icon>
		      {{profile.gender}}
		  </ion-item>

		  <ion-item>
		    <ion-icon name="ios-flag-outline" item-start></ion-icon>
		      {{profile.locale}}
		  </ion-item>
		</ion-list>
		
	</div>
</ion-content>
