<ion-header no-border>
 <ion-navbar color="navbar">
 	<ion-title>Edit Profil</ion-title>
</ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list *ngIf="profile">

	   <form class="form" [formGroup]="editForm"  (submit)="save(editForm.value)">

        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" value="{{profile.name}}" formControlName="name" class="form-control" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div class="error-message" *ngIf="editForm.get('name').hasError(validation.type) && (editForm.get('name').dirty || editForm.get('name').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

      <ion-item>
        <ion-label stacked>First Name</ion-label>
        <ion-input formControlName="first_name" type="text" class="form-control" value="{{profile.first_name}}"></ion-input>
      </ion-item>

		  <ion-item>
		    <ion-label stacked>Last Name</ion-label>
		    <ion-input formControlName="last_name" type="text" class="form-control" value="{{profile.last_name}}"></ion-input>
		  </ion-item>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input  disabled="true" type="email" formControlName="email" value={{profile.email}}></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="editForm.get('email').hasError(validation.type) && (editForm.get('email').dirty || editForm.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label stacked>Nationality</ion-label>
        <ion-input formControlName="locale" type="text" class="form-control" value="{{profile.locale}}"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label stacked>Address</ion-label>
        <ion-input formControlName="address" type="text" class="form-control" value="{{profile.address}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Race</ion-label>
        <ion-input formControlName="race" type="text" class="form-control" value="{{profile.race}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Gender</ion-label>
        <ion-input formControlName="gender" type="text" class="form-control" value="{{profile.gender}}"></ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-label floating>Gender</ion-label>
        <ion-select formControlName="gender" cancelText="Cancel" okText="OK">
          <ion-option *ngFor="let gender of genders" [value]="gender" >{{ gender }}</ion-option>
        </ion-select>
      </ion-item> -->

      <ion-item>
        <ion-label stacked>Birthdate</ion-label>
        <ion-input formControlName="birthdate" type="date" class="form-control" value="{{profile.birthdate}}"></ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-label stacked>Phone Number</ion-label>
        <ion-input formControlName="phone_number" type="text" class="form-control" value="{{profile.phone_number}}"></ion-input>
      </ion-item> -->

		  <button ion-button round full type="submit" style="text-transform: capitalize; margin: 0 auto; width: 90%; margin-top: 10px" color="yayasan" [disabled]="!editForm.valid">Simpan</button>
		</form>
		  
	</ion-list>

</ion-content>
