<!--
  Generated template for the SignPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
 <ion-navbar color="navbar">
  <ion-title>Daftar Masuk</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p style="margin-top: 15px; margin-bottom: 20px">Dengan menjadi ahli berdaftar MyPrihatin, anda akan dapat melihat dan memuat turun transaksi anda untuk tujuan cukai dan sepertinya.</p>

  <!-- <h1 style="margin-bottom: 20px; text-align: center;">Daftar Masuk</h1> -->
  <button color="facebook" ion-button round full icon-left (click)="facebookConnect()" style="text-transform: capitalize; width: 90%; margin: 0 auto"><ion-icon name="logo-facebook"></ion-icon> Log Masuk Dengan Facebook</button>
  <p style="text-align: center; margin-top: 20px">Atau</p>
  

<ion-list style="margin-bottom: 10px">

  <form [formGroup]="loginForm" (submit)="login()" novalidate style="width: 90%; margin: 0 auto">

    <ion-item>
      <ion-label floating>Emel</ion-label>
      <ion-input formControlName="email" type="email" [class.invalid]="!loginForm.controls.email.valid && blur"></ion-input>
    </ion-item>
    <!-- <ion-item class="error-message" 
      *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
      <p style="background-color: red">
        Email is invalid !!
      </p>
    </ion-item> -->

    <ion-item style="margin-bottom: 20px">
      <ion-label floating>Kata Laluan</ion-label>
      <ion-input formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid && blur"></ion-input>
    </ion-item>
    <!-- <ion-item class="error-message" 
      *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
      <p style="background-color: red">
        Password Required !!
      </p>
    </ion-item> -->

    <button ion-button round full type="submit" color="yayasan" style="text-transform: capitalize;" [disabled]="!loginForm.valid">
      Log Masuk
    </button>
   <!--  <ion-row>
      <ion-col no-padding>
      <button ion-button small full clear ion-start (click)="forgetPassword()">Forgot Password?</button>
    </ion-col>
    <ion-col no-padding>
      <button ion-button small full clear ion-end (click)="register()">Sign Up!</button>
    </ion-col>
    </ion-row> -->
  </form>
</ion-list>

<p text-center (click)="forgetPassword()">Terlupa kata laluan?</p>

<ion-row style="margin-top: 30px; margin-bottom: 15px">
    <ion-col col-4 center>
      <hr>
    </ion-col>
    <ion-col col-4 text-center>
      <p><strong>Daftar Baru</strong></p>
    </ion-col>
    <ion-col col-4>
      <hr>
    </ion-col>
  </ion-row>

  <p text-center style="margin-bottom: 15px">Klik di sini untuk mendaftar sebagai pengguna baru menggunakan emel</p>

<!-- <h1 text-center style="margin-top:70px; margin-bottom: 20px " (click)="register()" >Daftar Akaun Baru</h1> -->
<button ion-button round full color="yayasan" style="text-transform: capitalize; width: 90%; margin: 0 auto" (click)="register()">Daftar Baru</button>

<!-- <button ion-button block color="facebook" style="margin-bottom: 15px">Continue with Facebook</button> -->

<!-- <p text-wrap style="text-align: center;">By clicking Register me, you indicate that you have read and understand our Privacy Policy and Terms of Use and represent that you are at least 13 years of age</p> -->
<!-- <div text-center>
  <strong>or</strong>
</div>


   

   <button color="facebook" ion-button block (click)="facebookConnect()">Log in with Facebook</button>
   <button color="google-plus" ion-button block (click)="googleLogin()">Log in with Google</button> -->


  <!-- <button ion-button small full clear (click)="register()">Register Me</button> -->
<ion-card *ngIf="response">
  <ion-card-header>{{response.username}}</ion-card-header>
  <img src="{{response.picture}}">
  <p>Email : {{response.email}}</p>
  <p>First Name : {{response.first_name}}</p>
</ion-card>
  
 

</ion-content>