<ion-header no-border>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu" style="font-weight: bold;"></ion-icon>
    </button>
    <ion-title>Bantuan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item  no-margin *ngFor = "let s of soalan ; let i=index " text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <h2 style="line-height: 150%; font-weight: bold; margin: 0px">{{s.title}}<!-- 
        <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-up' : 'arrow-dropright'"></ion-icon> -->
      </h2>
      <p *ngIf="isGroupShown(i)">{{s.description}}</p>
    </ion-item>
  </ion-list>
</ion-content>
