<ion-header no-border>
 <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu" style="font-weight: bold;"></ion-icon>
    </button>
    <ion-title>
      Profil
    </ion-title>
    <ion-buttons end>
          <button ion-button icon-only (click)="userDetails(profile)">
            <ion-icon name="more" style="font-weight: bold;"></ion-icon>
          </button>
      </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content>
<div *ngIf="profile" style="padding-bottom: 16px">
<div class="bg">
  <img *ngIf="!profile.image" src="{{image}}" class="user">
  <img *ngIf="profile.image" src="{{profile.image}}" class="user">
</div>
<div style="padding-top: 20px" text-center (click)="userDetails(profile)">
  <!-- <h1>{{profile.first_name}} {{profile.last_name}}</h1> -->
  <h1 style="font-weight: bold;">{{profile.name}}</h1>
<!--   <p>{{profile.email}}</p> -->
</div>
<div padding style="padding-right: 30px; padding-left: 30px">
  <p text-center  (click)="aboutUs()">Yayasan MyPrihatin mengucapkan ribuan terima kasih di atas sumbangan anda</p>
</div>


<div text-center style="margin-bottom: 30px; margin-top: 10px">
   <p style="margin-bottom: 15px">Sumbangan setakat ini:</p>
  <h1 style="font-weight: bold; margin-top: 0px; margin-bottom: 15px">RM {{fund | number:0}}</h1>
  <button color="yayasan" ion-button round style="width: 80%; margin: 0 auto; text-transform: capitalize;" >Cetak Penyata</button>
</div>

<!-- <div text-center>
  <h1 style="font-weight: bold;">Aktiviti</h1>
</div> -->

  <ion-row padding *ngIf="!activities">
    <ion-col col-4 center>
      <hr>
    </ion-col>
    <ion-col col-4 text-center>
      <p><strong>Aktiviti</strong></p>
    </ion-col>
    <ion-col col-4>
      <hr>
    </ion-col>
  </ion-row>

  <p style="text-align: center;font-weight: bold" *ngIf="activities">Tiada Sumbangan Setakat Ini</p>

  <ion-list>
    <ion-item *ngFor="let activity of activities" text-wrap>
      <strong style="margin-bottom: 10px">{{activity.donation_date.date | date : 'dd / MM / yyyy'}}</strong>
      <p>Sumbangan bernilai <strong>RM{{activity.amount}}</strong> untuk kempen <strong>{{activity.campaign_name}}</strong> dalam <strong>Prihatin Amal</strong></p>
    </ion-item>
  </ion-list>
  
<button color="yayasan" ion-button round full icon-left (click)="logout()" style="text-transform: capitalize; width: 80%; margin: 0 auto"><ion-icon name="md-log-out"></ion-icon> Log Keluar</button>

</div>

</ion-content>