<ion-header no-border>
 <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu" style="font-weight: bold;"></ion-icon>
    </button>
    <ion-title>
      Ativiti Terkini
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <div style="padding: 20px" *ngIf="articles">
    <div *ngFor="let article of articles" style=" border: 1px groove; margin-bottom: 10px">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{article.header_image}}">
        </ion-avatar>
        <h2>Facebook MyPrihatin</h2>
      </ion-item>
      <div (click)="details(article.article_id)">
        <img src="{{article.inline_image}}">
        <ion-card-content>
          <h6 no-margin>{{article.source}}</h6>
          <ion-card-title> 
            <h1 text-wrap style="font-weight: bold;">{{article.article_title}}</h1>
            <!-- <h1 no-margin text-wrap style="font-weight: bold;">Korban Aidil Adha</h1> -->
          </ion-card-title>
            <!-- <p >{{article.short_desc}}</p> -->
            <p>{{article.short_desc}}</p>
        </ion-card-content>
      </div>
      
      <ion-row no-padding class="botBorder">
          <ion-col text-left col-3>
            <button ion-button clear small  icon-start color="dark" (click)=commentPress(article.article_id)>
            <ion-icon name='ios-chatboxes-outline'></ion-icon>
            <!-- <ion-icon class="icon-comment" color="danger" ></ion-icon> -->
            <strong>{{getComment(article.article_id)}}</strong>
            </button>
          </ion-col>
          <ion-col text-left col-3>
            <button ion-button clear small color="dark" icon-start (click)=like(article)>
            <ion-icon name="ios-heart-outline"></ion-icon>
            <strong>{{getLike(article.article_id)}}</strong>
            </button>
          </ion-col>
          <ion-col text-right>
            <button ion-button clear small color="dark" style="text-transform: lowercase;" (click)="details(article)">
              lebih lanjut  
            <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="margin-left: 5px"></ion-icon>
              
            </button>
          </ion-col>
        </ion-row>
    </div>
  </div>
</ion-content>
