<ion-header no-border>
  <ion-navbar color="navbar">
    <button ion-button menuToggle >
      <ion-icon name="menu" style="font-weight: bold;"></ion-icon>
    </button>
    <ion-title>MyDana</ion-title>
    <ion-buttons end>
          <button ion-button icon-only (click)="Authentication()">
            <ion-icon name="md-finger-print"></ion-icon>
          </button>
      </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content class="home">
  <div *ngIf="latestcampaign">
   <!-- <ion-slides pager autoplay="5000" loop="true" speed="3000" *ngIf="sliderImage && sliderImage.length" class="slideSize"> -->
  <!-- <ion-slides pager autoplay="5000" loop="true" speed="3000"> -->
    <!-- <ion-slide *ngFor="let slide of sliderImage"> -->

      <!-- <div class="video-container">
          <iframe src="https://www.youtube.com/embed/wyVM1evRxNw" frameborder="0" width="560" height="500" allowfullscreen></iframe>
          <video src="https://www.youtube.com/embed/wyVM1evRxNw" frameborder="0" width="560" height="500" allowfullscreen></video>
      </div> -->

        <img src="assets/img/white.jpg" />
        <div class="card-text">
          <h1 class="card-titles" text-wrap>Seringgit Sejuta Harapan</h1>
          <p class="card-subtitle" text-wrap>Bersama Membantu Mereka Yang Memerlukan</p>
        </div>
 
  <ion-row style="padding: 10px">
    <ion-col col-4 center>
      <hr>
    </ion-col>
    <ion-col col-4 text-center>
      <p><strong>Terkini</strong></p>
    </ion-col>
    <ion-col col-4>
      <hr>
    </ion-col>
  </ion-row>
<ion-list>
<div style="padding: 20px; padding-top: 0px" >
<div *ngFor="let campaign of latestcampaign" style="border: 1px groove; margin-bottom: 10px">
  <div (click)="moreDetail(campaign)">
    <img src="{{campaign.campaign_image}}">
    <ion-card-content>
      <h6 no-margin>{{campaign.category}}</h6>
      <ion-card-title> 
        <h1 text-wrap no-margin style="font-weight: bold;">{{campaign.campaign_name}}</h1>
      </ion-card-title>
        <p >{{campaign.short_desc}}</p>
        <div class="process" style="padding-top: 10px">
          <div class="raised">
            <span [ngStyle]="{'width':getWidth(campaign.campaign_id)}"></span>
          </div>
        </div>
      
      <p style="margin-top: 25px"><strong>RM {{campaign.fund_amount}}</strong> terkumpul setakat ini</p>
      <p><strong>{{(campaign.fund_amount/campaign.total_amount)*100}}%</strong> tepati sasaran</p>
      <p><strong>{{getRemainingDays(campaign.campaign_id)}}</strong> lagi</p>
      
  </ion-card-content>
  </div>
  <!-- <ion-row padding-left=10px>
    <p text-left>200 Likes 10 Comments</p>
  </ion-row> -->
  <ion-row no-padding class="botBorder">
      <ion-col text-left col-3>
        <button ion-button clear small  icon-start color="dark" (click)=commentPress(campaign)>
        <ion-icon name='ios-chatboxes-outline'></ion-icon>
        <!-- <ion-icon class="icon-comment" color="danger" ></ion-icon> -->
        <strong>{{getComment(campaign.campaign_id)}}</strong>
        </button>
      </ion-col>
      <ion-col text-left col-3>
        <button ion-button clear small color="dark" icon-start (click)=like(campaign)>
        <ion-icon name="ios-heart-outline"></ion-icon>
        <strong>{{getLike(campaign.campaign_id)}}</strong>
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="dark" style="text-transform: lowercase;" (click)="moreDetail(campaign)">
          lebih lanjut  
        <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="margin-left: 5px"></ion-icon>
          
        </button>
      </ion-col>
    </ion-row>
</div>
</div>
</ion-list>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
</ion-content>
